/*-----------------background-color---------------------*/

.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

/*-----------------color---------------------*/
.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.mnbcolor{
   background: #151B54;
}

.gcolor{
	color:gray;
}

.product-color{
	color: #333;
}

.border-color-top{
	border-top: 1px solid gray;	
}


