/*------------scss-background-color---------------------*/

$white-b-c: white;

$yellow-b-c: yellow;

$red-b-c: red;

$green-b-c: green;

$gray-b-c: gray;

/*----------------scss-color---------------------*/

$color-red: #FF0000;

$color-green: #00FF00;

$color-blue: #0000FF;

/*-----------------background-color---------------------*/

.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

/*-----------------color---------------------*/
.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.mnbcolor{
   background: #151B54;
}

.gcolor{
	color:gray;
}

.product-color{
	color: #333;
}

.border-color-top{
	border-top: 1px solid gray;	
}
/*--------------------------------------*/

