/* tablet */ 

@media( min-width: 600px) and (max-width: 1000px){
    
    .tab-select-art{
        display: flex;
        flex-direction: row;
    }

    .tab-footer{
        display: flex;
        justify-content: flex-start;
       
    }

    .tab-art-res{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
           
    }

    .tab-art{
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 700px;
        width: 33%;
    }


    
}

/* desktop */ 

@media( min-width: 1000px){

    .dt-select-art{
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: center;
        align-items: center;
        
    }

     .dt-footer{
        display: flex;
        justify-content: flex-start;
       
    }

    .dt-art-res{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
           
    }

    .dt-art{
        display: flex;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        max-height: 700px;
        width: 25%;
    }
}
	





/* Mobile */

/*
@media( man-width: 600px){
    .mob-order{
        order: 2;
    }
    
}
*/



