/* tablet */ 

@media( min-width: 600px) and (max-width: 1000px){
    
    .tab-select-art{
        display: flex;
        flex-direction: row;
    }

    .tab-footer{
        display: flex;
        justify-content: flex-start;
       
    }


    
}

/* desktop */ 

@media( min-width: 1000px){

    .dt-select-art{
        display: flex;
        flex-direction: row;
        
    }

     .dt-footer{
        display: flex;
        justify-content: flex-start;
       
    }

    .dt-art{
        display: flex;
        flex-direction: row;
        
    }
	
}




/* Mobile */

/*
@media( man-width: 600px){
    .mob-order{
        order: 2;
    }
    
}
*/



