@import 'reset';
@import 'links';
@import 'text';
@import 'color';
@import 'flex';
@import 'font';
@import 'responsive';


/*font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; */
/*-------------------scss----------------------------------*/

body{
	background-color: black;
	color: white;

}



.select-section{

}

.select-nav{

}

.artRes{
	
}


.minifed{
	width:10%;
}

.article{
	background-size: cover !important;
	background-repeat: no-repeat;
	max-width: 100%;
	
	a {
		background: rgba(0,0,0,0.70); /* rgba(0,0,0,0.7) 000 is black and the 0.7 is opacity */
		padding: 1rem;
	}
}

.artLink{
	text-decoration: none;

}

footer{
	bottom: 0;
	position: fixed;
}


/*-------------------css----------------------------------*/
