@import 'reset';
@import 'links';
@import 'text';
@import 'color';
@import 'flex';
@import 'font';
@import 'responsive';


/*-------------------scss----------------------------------*/

body{
	background-color: black;
	color: white;

}

.select-section{
		/*display: flex;
		flex-direction: column;*/
		/*width: 20%;
		height: 10%;
        justify-content: flex-start;*/
        /*align-items: flex-start;*/
}

.select-nav{

}

.artRes{
	
}


/*.minifed img{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 10%;
}
*/
.article{
	background-size: cover !important;
	background-repeat: no-repeat;
	max-width: 100%;
	
	a {
		background: rgba(0,0,0,0.70); /* rgba(0,0,0,0.7) 000 is black and the 0.7 is opacity */
		padding: 1rem;
	}
}

.artLink{
	text-decoration: none;

}

footer{
	/*bottom: 0;
	position: fixed;
	left: 25%;*/
}


/*-------------------css----------------------------------*/
